<label for="alias" class="block text-sm font-medium leading-6 text-gray-900"
  >Tab alias</label
>
<div class="mt-2">
  <!-- tab alias -->
  <input
    id="alias"
    name="alias"
    type="text"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
  />
</div>
<label for="client" class="block text-sm font-medium leading-6 text-gray-900"
  >Client</label
>
<div class="mt-2">
  <!-- client type -->
  <select
    hx-get="{{ url_for("settings_client_get") }}"
    hx-target="#client_info"
    hx-trigger="change"
    id="client"
    name="client"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
  >
    <optgroup label="client type">
      <option></option>
      <option>rtorrent</option>
      <option>deluge</option>
      <option>transmission</option>
    </optgroup>
  </select>
</div>
<div id="client_info"></div>
<div id="rtorrent_config"></div>
<div id="deluge_config"></div>
{% include "_base_destination.html" %}
