<label for="uri_type" class="block text-sm font-medium leading-6 text-gray-900"
  >Deluge connection</label
>
<div class="mt-2">
  <select
    hx-get="{{ url_for("settings_client_deluge") }}"
    hx-target="#deluge_config"
    id="uri_type"
    name="uri_type"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
  >
    <optgroup label="uri type">
      <option></option>
      <option>tcp</option>
    </optgroup>
  </select>
</div>
