{% extends "_base_dialog.html" %}
{% block modal_content %}
  <!-- form -->
  <form
    action="{{ url_for("settings_tab_edit_post", tab_alias=tab_alias) }}"
    method="POST"
  >
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Tab</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Edit tab.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label
              for="tab_alias"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Tab</label
            >
            <div class="mt-2">
              <div
                class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600 sm:max-w-md"
              >
                <input
                  type="text"
                  name="tab_alias"
                  id="tab_alias"
                  class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  placeholder="{{ previous_tab_alias }}"
                />
                {#                <input type="hidden" name="hash" value="{{ hash }}" />#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        type="submit"
        class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
      >
        Save
      </button>
    </div>
  </form>
{% endblock %}
