<label for="uri" class="block text-sm font-medium leading-6 text-gray-900"
  >Deluge {{ deluge_connection }}</label
>
<div class="mt-2">
  <input
    id="uri"
    name="uri"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
    type="text"
    placeholder="{{ uri_placeholder }}"
    hx-get="{{ url_for("deluge_check") }}"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#uri_ok"
  />
  <div id="uri_ok" class="mt-2"></div>
</div>
