{% extends "_base_dialog.html" %}
{% block title %}Settings{% endblock %}
{% block modal_content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        {% if signup %}Sign up{% else %}Settings{% endif %}
      </h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        class="space-y-6"
        method="post"
        action="{{ url_for("settings_post") }}"
        enctype="application/x-www-form-urlencoded"
      >
        <div>
          <div class="flex flex-col">
            {% include "settings/settings_flow.html" %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
