<div id="directories" class="mb-4">
  <label class="block text-sm font-medium leading-6 text-gray-900"
    >Destination</label
  >
  <div class="flex">
    <input
      type="text"
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
      name="base_path"
      id="base_path"
      value="{{ base_path }}"
    />
    <div
      class="rounded-r bg-blue-600 px-3 font-medium text-white"
      hx-get="{{ url_for("dir_listing") }}"
      hx-trigger="click"
      hx-include="#base_path"
      hx-target="#directories"
      hx-swap="outerHTML"
    >
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>
