{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
  <div
    _="on load
transition opacity from 0 to 100 over 300ms
on closeModal
transition opacity from 100 to 0 over 200ms
then remove me
"
    class="relative opacity-0"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      _="on click trigger closeModal"
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>
    <div class="fixed inset-0 w-screen overflow-y-auto">
      <div
        class="flex items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <!--
                Modal panel, show/hide based on modal state.

                Entering: "ease-out duration-300"
                  From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                  To: "opacity-100 translate-y-0 sm:scale-100"
                Leaving: "ease-in duration-200"
                  From: "opacity-100 translate-y-0 sm:scale-100"
                  To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              -->
        <div
          class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
        >
          <button
            type="button"
            class="inline-flex rounded-md bg-gray-50 p-1.5 text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2 focus:ring-offset-gray-50"
            _="on click trigger closeModal"
          >
            <span class="sr-only"></span>
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
              />
            </svg>
          </button>
          {% block modal_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
