<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}{% endblock %} - yatg</title>
      <link
        rel="icon"
        type="image/x-icon"
        href="{{ url_for("static", file_path="favicon.ico") }}"
      />
      <link
        href="{{ url_for("static", file_path="css/output.css") }}"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="{{ url_for("static", file_path="fontawesome-free-6.5.2-web/css/all.css") }}"
      />
      <!-- order matter, htmx needs to be loaded before extensions -->
      <script src="{{ url_for("static", file_path="js/_hyperscript.min.js") }}"></script>
      <script src="{{ url_for("static", file_path="js/htmx.min-2.0.0.js") }}"></script>
      <script src="{{ url_for("static", file_path="js/event-header-2.0.0.js") }}"></script>
      <script src="{{ url_for("static", file_path="js/remove-me-2.0.0.js") }}"></script>
      <script src="{{ url_for("static", file_path="js/ws-2.0.0.js") }}"></script>
    {% endblock %}
  </head>
  <body>
    {% include "alerts.html" %}

    {% block content %}
    {% endblock %}
    <div id="settings_dialog"></div>
    <div id="add_menu_dialog"></div>
    <div id="tags_dialog"></div>
    <div id="info_dialog"></div>
    <div id="tabs_dialog"></div>
  </body>
</html>
