<div id="directories" class="mb-4">
  <label class="block text-sm font-medium leading-6 text-gray-900"
    >Destination</label
  >
  <div class="flex">
    <input
      type="text"
      {% if error %}
        class="w-full border py-2 px-3 rounded-l leading-tight
        focus:outline-none text-red-900 ring-1 ring-inset ring-red-300
        placeholder:text-red-300 focus:ring-2 focus:ring-inset
        focus:ring-red-500"
      {% else %}
        class="w-full border py-2 px-3 rounded-l leading-tight
        focus:outline-none focus:border-blue-500 border-gray-600 "
      {% endif %}
      name="base_path"
      id="base_path"
      value="{{ base_path }}"
    />
    <div
      class="rounded-r bg-blue-600 px-3 font-medium text-white"
      hx-get="{{ url_for("dir_listing") }}"
      hx-trigger="click"
      hx-include="#base_path"
      hx-target="#directories"
      hx-swap="outerHTML"
    >
      <i class="fas fa-search"></i>
    </div>
  </div>
  {% if error %}
    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
  {% else %}
    <div id="list_directories">
      <div class="flex h-32 flex-col overflow-y-auto">
        <input type="hidden" name="parent" id="parent" value="{{ parent }}" />
        <div
          class="flex cursor-pointer gap-4 text-xs"
          hx-get="{{ url_for("dir_listing") }}"
          hx-include="#parent"
          hx-target="#directories"
          hx-swap="outerHTML"
        >
          <i class="fas fa-arrow-up"></i><span>..</span>
        </div>
        {% for dir in dirs %}
          <input
            type="hidden"
            name="destination"
            id="dir-{{ loop.index0 }}"
            value="{{ dir }}"
          />
          <div
            class="flex cursor-pointer gap-4 text-xs"
            hx-get="{{ url_for("dir_listing") }}"
            hx-include="#dir-{{ loop.index0 }}"
            hx-target="#directories"
            hx-swap="outerHTML"
          >
            <i class="fas fa-folder"></i><span>{{ dir }}</span>
          </div>
        {% endfor %}
        {% for file in files %}
          <div class="flex cursor-not-allowed gap-4 text-xs text-gray-500">
            <i class="fa-regular fa-file"></i><span>{{ file }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
