{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="flex flex-col gap-4 pt-12">
    <div class="mx-auto max-w-md text-center">
      <img
        src="{{ url_for("static", file_path="logo.png") }}"
        alt="Logo"
        class="mx-auto h-96 w-96"
      />
      <div id="auth-form">
        <div class="flex flex-col justify-center p-4">
          <div class="flex justify-around">
            <div
              hx-get="{{ url_for("login_get") }}"
              hx-target="#auth-form"
              hx-push-url="true"
              class="flex justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >
              Login
            </div>
            <div
              hx-get="{{ url_for("signup_get") }}"
              hx-target="#auth-form"
              hx-push-url="true"
              class="flex justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            >
              Sign up
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
