{% extends "base.html" %}
{% block title %}torrents{% endblock %}
{% block content %}
  <div class="m-4">
    <div class="flex justify-between border-b border-gray-200">
      <nav
        class="-mb-px flex space-x-8"
        aria-label="Tabs"
        hx-on:htmx-after-on-load="let currentTab = document.querySelector('[aria-selected=true]');
                                 currentTab.setAttribute('aria-selected', 'false')
                                 currentTab.classList.remove('tab-selected')
                                 currentTab.classList.add('tab-unselected')
                                 let currentI = currentTab.querySelector('i')
                                 if (currentI) {
                                    currentI.classList.remove('text-blue-600')
                                    currentI.classList.add('text-gray-500')
                                 }
                                 let newTab = event.target
                                 newTab.setAttribute('aria-selected', 'true')
                                 newTab.classList.add('tab-selected')
                                 newTab.classList.remove('tab-unselected')
                                 let newI = newTab.querySelector('i')
                                 if (newI) {
                                    newI.classList.add('text-blue-600')
                                    newI.classList.remove('text-gray-500')
                                 }
        "
      >
        {% for tab in tabs %}
          {% if loop.first %}
            <div
              id="{{ tab.alias }}"
              hx-get="{{ url_for("torrents_main", setting_id=tab.id) }}?limit={{ limit }}&page={{ page }}"
              hx-trigger="load,click"
              hx-target="#tab-torrent-content"
              class="tab-selected group"
              aria-selected="true"
              role="tab"
            >
              <div class="mr-5 flex items-center justify-between">
                <span>{{ tab.alias }}</span>
                <i
                  class="fas fa-edit absolute left-0 top-0 text-blue-600 opacity-0 group-hover:opacity-100"
                  aria-hidden="true"
                  hx-get="{{ url_for("settings_tab_edit", tab_alias=tab.alias) }}"
                  hx-trigger="click consume"
                  hx-target="#tabs_dialog"
                ></i>
                <i
                  class="fa-solid fa-xmark absolute right-0 top-0 text-blue-600 opacity-0 group-hover:opacity-100"
                  aria-hidden="true"
                  hx-delete="{{ url_for("settings_delete", tab_alias=tab.alias) }}"
                  hx-trigger="click consume"
                  hx-confirm="Are you sure you want to delete this tab?"
                  hx-target="body"
                ></i>
              </div>
            </div>
          {% else %}
            <div
              id="{{ tab.alias }}"
              hx-get="{{ url_for("torrents_main", setting_id=tab.id) }}?limit={{ limit }}&page={{ page }}"
              hx-target="#tab-torrent-content"
              class="tab-unselected group"
              aria-selected="false"
              role="tab"
            >
              <div class="mr-5 flex items-center justify-between">
                <span>{{ tab.alias }}</span>
                <i
                  class="fas fa-edit absolute left-0 top-0 text-gray-500 opacity-0 group-hover:opacity-100"
                  aria-hidden="true"
                  hx-get="{{ url_for("settings_tab_edit", tab_alias=tab.alias) }}"
                  hx-trigger="click consume"
                  hx-target="#tabs_dialog"
                ></i>
                <i
                  class="fa-solid fa-xmark absolute right-0 top-0 text-gray-500 opacity-0 group-hover:opacity-100"
                  aria-hidden="true"
                  hx-delete="{{ url_for("settings_delete", tab_alias=tab.alias) }}"
                  hx-trigger="click consume"
                  hx-confirm="Are you sure you want to delete this tab?"
                  hx-target="body"
                ></i>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <div
          id="tab-settings"
          hx-get="{{ url_for("settings_get") }}"
          hx-target="#settings_dialog"
          class="tab-unselected"
          aria-selected="false"
          role="tab"
        >
          <span>+</span>
        </div>
      </nav>
    </div>
    <div id="tab-torrent-content" role="tabpanel"></div>
  </div>
{% endblock %}
