<div class="grid grid-cols-4 gap-4">
  <div>{{ method_l }}</div>
  {% for method_group in methods|batch(4) %}
    <div class="col-span-1">
      {% for method in method_group %}
        <div>{{ method }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
