<form>
  <input
    type="search"
    name="s"
    placeholder="Begin Typing To Search a Rtorrent method..."
    hx-post="{{ url_for("rtorrent_methods") }}"
    hx-trigger="input changed delay:500ms, s"
    hx-target="#search-results"
    hx-indicator=".htmx-indicator"
  />
  <label for="search_type">Choose input type:</label>
  <select id="search_type" name="search_type">
    <option value="string">String</option>
    <option value="regex">RegEx</option>
  </select>

  <button type="submit">Submit</button>
</form>
<div id="search-results"></div>
