{% extends "base.html" %}
{% block title %}{{ client }}{% endblock %}
{% block content %}
  {%
    set status_colors = ( {
    "active": "hover:bg-lime-800 hover:text-lime-200",
    "checking": "hover:bg-gray-800 hover:text-gray-200",
    "complete": "hover:bg-cyan-800 hover:text-cyan-200",
    "downloading": "hover:bg-green-800 hover:text-green-200",
    "error": "hover:bg-red-800 hover:text-red-200",
    "inactive": "hover:bg-orange-800 hover:text-orange-200",
    "seeding": "hover:bg-blue-800 hover:text-blue-200",
    "stopped": "hover:bg-yellow-800 hover:text-yellow-200", })
  %}
  <div>
    <div
      id="torrent_client_info"
      hx-get="{{ url_for('torrent_client_info', setting_id=setting_id) }}"
      hx-trigger="load"
      hx-target="#torrent_client_info"
    ></div>
    <form class="min-h-screen text-sm">
      <!-- commands -->
      <div class="flex items-center justify-between">
        <div id="torrent_commands">
          <div class="flex justify-start space-x-2 p-4">
            <button
              class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              hx-post="{{ url_for('torrent_start', setting_id=setting_id) }}"
              hx-target="body"
            >
              <i class="fas fa-play-circle mr-2"></i>Start
            </button>
            <button
              class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              hx-post="{{ url_for('torrent_stop', setting_id=setting_id) }}"
              hx-target="body"
            >
              <i class="fas fa-stop-circle mr-2"></i>Stop
            </button>
            <button
              class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              hx-get="{{ url_for("torrent_add_menu_dialog", setting_id=setting_id) }}"
              hx-target="#add_menu_dialog"
            >
              <i class="fas fa-plus-circle mr-2"></i>Add
            </button>
            <button
              class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              hx-post="{{ url_for('torrent_erase', setting_id=setting_id) }}"
              hx-target="body"
            >
              <i class="fas fa-minus-circle mr-2"></i>Remove
            </button>
            <button
              class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              hx-post="{{ url_for('torrent_check_hash', setting_id=setting_id) }}"
              hx-target="body"
            >
              <i class="fas fa-check-circle mr-2"></i>Check Hash
            </button>
          </div>
        </div>
        <!-- pagination -->
        {#        <div id="pagination">{% include "torrents_pagination.html" %}</div>#}
        <!-- refresh -->
        <div>refresh</div>
      </div>
      <!-- load stuf on 1st render  -->
      <div class="grid grid-cols-10 grid-rows-1">
        <div id="status" class="col-span-1 border border-blue-900">
          {% include "torrent_status_count.html" %}
        </div>
        <!-- torrent list -->
        <div id="torrent_list" class="col-span-9">
          {% include "torrent_list.html" %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
