<ul role="list" class="divide-y divide-gray-100">
  {% for peer in peers %}
    <li class="flex items-center justify-between gap-x-6 py-5">
      <div class="min-w-0">
        <div class="flex items-start gap-x-3">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            {{ peer.address }}
          </p>
          <div
            class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500"
          >
            <p>{{ peer.client_version }}</p>
            <p>{{ peer.completed_percent }}</p>
            <p>
              <i class="fa-solid fa-download" title="download"></i>
              {{ peer.down_rate | filesizeformat }}
            </p>
            <p>
              <i class="fa-solid fa-upload" title="upload"></i>
              {{ peer.up_rate | filesizeformat }}
            </p>
            <p>
              {% if peer.is_encrypted %}
                <i class="fa-solid fa-lock" title="encrypted"></i>
              {% else %}
                <i class="fa-solid fa-lock-open" title="unencrypted"></i>
              {% endif %}
            </p>
            <p>
              {% if peer.is_incoming %}
                <i class="fa-solid fa-check" title="incoming"></i>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
