<ul role="list" class="divide-y divide-gray-100">
  {% for tracker in trackers %}
    <li class="flex items-center justify-between gap-x-6 py-5">
      <div class="min-w-0">
        <div class="flex items-start gap-x-3">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            {{ tracker.url }}
          </p>
          <div
            class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500"
          >
            <p>
              {% if tracker.is_enabled %}
                <i class="fa-solid fa-eye" title="enabled"></i>
              {% else %}
                <i class="fa-solid fa-eye-slash" title="not enabled"></i>
              {% endif %}
            </p>
            <p>
              {% if tracker.type == 1 %}
                http
              {% elif tracker.type == 2 %}
                udp
              {% elif tracker.type == 3 %}
                dht
              {% endif %}
            </p>
            <p>{{ tracker.scrape_complete }}</p>
            <p>{{ tracker.scrape_incomplete }}</p>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
