<ul role="list" class="divide-y divide-gray-100">
  {% for file in torrent_content %}
    <li class="flex items-center justify-between gap-x-6 py-5">
      <div class="min-w-0">
        <div class="flex items-start gap-x-3">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            {{ file.path }}
          </p>
          <p
            class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
          >
            {{ file.priority }}
          </p>
        </div>
        <div
          class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500"
        >
          <p class="whitespace-nowrap">
            {{ file.size_bytes | filesizeformat }}
          </p>
          <p class="truncate">
            Completed: {{ file.completed_chunks }} / {{ file.size_chunks }}
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
