<div class="grid justify-start border border-l-0 border-blue-900">
  <div class="px-4">
    <div class="flow-root overflow-hidden">
      <div class="mx-auto max-w-full">
        <div class="min-w-0 py-2 align-middle">
          <table class="w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8"
                ></th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Percent Completed
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Downloaded
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Download Speed
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Upload Speed
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  ETA
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Ratio
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  File Size
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Peers
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Seeds
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Added
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Location
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Tags
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <!-- Repeat for each torrent item -->
              {% for torrent in torrents %}
                <tr
                  class="bg-blue-200 text-blue-800"
                  id="{{ torrent.hash }}"
                  hx-ext="event-header"
                  hx-get="{{ url_for('torrent_trigger_switch', setting_id=setting_id) }}"
                  hx-target="#info_dialog"
                  hx-swap="beforeend"
                  hx-trigger="click[ctrlKey],dblclick"
                >
                  <!-- Checkbox -->
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    <input
                      type="checkbox"
                      name="hashes"
                      id="hashes-{{ torrent.hash }}"
                      value="{{ torrent.hash }}"
                      ws-send
                      {% if torrent.hash in selected_hashes %}
                        checked
                      {% endif %}
                    />
                  </td>
                  <!-- Status -->
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {% for status in torrent.statuses %}
                      <span
                        class="{{ status_colors[status] }} inline-flex items-center gap-x-1.5 rounded-full bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600"
                      >
                        <i class="fa-solid {{ statuses_count[status][1] }}"></i
                      ></span>
                    {% endfor %}
                  </td>
                  <!-- Name -->
                  <td
                    class="max-w-80 overflow-hidden whitespace-nowrap break-words px-3 py-2 text-xs hover:text-ellipsis"
                    title="{{ torrent.name }}"
                  >
                    {{ torrent.name }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    <progress
                      class="h-2 w-full progress-unfilled:bg-red-200 progress-filled:bg-red-600"
                      value="{{ "%.1f"|format(torrent.bytes_done / torrent.size_bytes * 100) }}"
                      max="100"
                    >
                      {{ "%.1f"|format(torrent.bytes_done / torrent.size_bytes * 100) }}%
                    </progress>
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.bytes_done | filesizeformat }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.down_rate | filesizeformat }}/s
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.up_rate | filesizeformat }}/s
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {% if torrent.down_rate > 0 %}
                      {{ ((torrent.size_bytes - torrent.bytes_done) / torrent.down_rate) | duration_format }}
                    {% else %}
                      --
                    {% endif %}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.ratio }}%
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.size_bytes | filesizeformat }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.peers_accounted }} of
                    {{ torrent.trackers[0].scrape_incomplete }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.peers_complete }} of
                    {{ torrent.trackers[0].scrape_complete }}
                  </td>
                  <td class="whitespace-nowrap px-3 py-2 text-xs">
                    {{ torrent.creation_date | datetime_format }}
                  </td>
                  <td
                    class="max-w-80 overflow-hidden text-ellipsis whitespace-nowrap break-words px-3 py-2 text-xs"
                    title="{{ torrent.directory }}"
                  >
                    {{ torrent.directory }}
                  </td>
                  <td
                    class="max-w-24 whitespace-nowrap px-3 py-2 text-xs"
                    hx-get="{{ url_for('torrent_tags_dialog', _hash=torrent.hash) }}"
                    hx-target="#tags_dialog"
                    hx-swap="beforeend"
                    hx-trigger="dblclick consume"
                  >
                    {{ torrent.custom1 }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
