<nav
  class="flex items-center justify-between bg-white px-4 py-3 sm:px-6"
  aria-label="Pagination"
>
  <div class="flex flex-1 justify-between sm:justify-end">
    {% if page > 1 %}
      <div
        hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page - 1 }}"
        hx-trigger="click"
        hx-target="#tab-torrent-content"
        class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
      >
        Previous
      </div>
    {% endif %}
    {% if torrents|length == limit %}
      <div
        hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page + 1 }}"
        hx-trigger="click"
        hx-target="#tab-torrent-content"
        class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
      >
        Next
      </div>
    {% endif %}
  </div>
</nav>
