<div>
  <div class="space-y-6 bg-blue-200 px-3 py-4 text-blue-800">
    <div class="mt-4">
      <h5 class="text-xs font-semibold uppercase tracking-wide text-blue-800">
        <i class="fa-solid fa-filter"></i> Status
      </h5>
      <ul class="mt-2 space-y-1 text-xs">
        <li
          class="hover:bg-blue-800 hover:text-blue-200"
          hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page }}"
          hx-target="#tab-torrent-content"
        >
          All
        </li>
        {% for status, (status_count, status_icon ) in statuses_count.items() %}
          <li
            class="{{ status_colors[status] }}"
            hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page }}&status={{ status }}"
            hx-target="#tab-torrent-content"
          >
            <i class="fa-solid {{ status_icon }}"></i> {{ status }}
            ({{ status_count }})
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mt-4">
      <h5 class="text-xs font-semibold uppercase tracking-wide text-blue-800">
        <i class="fa-solid fa-filter"></i> Tags
      </h5>
      <ul class="mt-2 space-y-1 text-xs">
        {% for tag, tag_count in tags_count.items() %}
          <li
            class="hover:bg-blue-800 hover:text-blue-200"
            hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page }}&tag={{ tag }}"
            hx-target="#tab-torrent-content"
          >
            {{ tag }} ({{ tag_count }})
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mt-4">
      <h5 class="text-xs font-semibold uppercase tracking-wide text-blue-800">
        <i class="fa-solid fa-filter"></i> Trackers
      </h5>
      <ul class="mt-2 space-y-1 text-xs">
        {% for tracker, tracker_count in trackers_count.items() %}
          <li
            class="hover:bg-blue-800 hover:text-blue-200"
            hx-get="{{ url_for("torrents_main", setting_id=setting_id) }}?limit={{ limit }}&page={{ page }}&tracker={{ tracker }}"
            hx-target="#tab-torrent-content"
          >
            {{ tracker }} ({{ tracker_count }})
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
