<h2 class="text-md mb-4 mt-6 font-bold">General</h2>
<div class="grid grid-cols-2 gap-1">
  <div class="text-sm font-semibold">Added</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.custom | datetime_format }}
  </div>
  <div class="text-sm font-semibold">Location</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.directory }}
  </div>
  <div class="text-sm font-semibold">Tags</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.custom1 }}
  </div>
</div>
<h2 class="text-md mb-4 mt-6 font-bold">Transfer</h2>
<div class="grid grid-cols-2 gap-1">
  <div class="text-sm font-semibold">Finished</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.finished_date | datetime_format }}
  </div>
  <div class="text-sm font-semibold">Downloaded</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ "%.1f"|format(torrent.bytes_done / torrent.size_bytes * 100) }}%
  </div>
  <div class="text-sm font-semibold">Peers</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.peers_accounted }} of {{ torrent.trackers[0].scrape_incomplete }}
  </div>
  <div class="text-sm font-semibold">Seeds</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.peers_complete }} of {{ torrent.trackers[0].scrape_complete }}
  </div>
  <div class="text-sm font-semibold">Last Activity</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.timestamp_last_active | datetime_format }}
  </div>
</div>
<h2 class="text-md mb-4 mt-6 font-bold">Torrent</h2>
<div class="grid grid-cols-2 gap-1">
  <div class="text-sm font-semibold">Created</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.creation_date | datetime_format }}
  </div>
  <div class="text-sm font-semibold">Hash</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.hash }}
  </div>
  <div class="text-sm font-semibold">Size</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.size_bytes | filesizeformat }}
  </div>
  <div class="text-sm font-semibold">Type</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {% if torrent.is_private %}Private{% else %}Public{% endif %}
  </div>
  <div class="text-sm font-semibold">Tracker</div>
  <div class="justify-self-end text-xs font-medium text-gray-500"></div>
  <div class="text-sm font-semibold">Tracker Message</div>
  <div class="justify-self-end text-xs font-medium text-gray-500">
    {{ torrent.message }}
  </div>
</div>
