<form
  method="post"
  action="{{ url_for("torrent_add_by_url", setting_id=setting_id) }}"
  enctype="application/x-www-form-urlencoded"
>
  <div class="container mx-auto p-8">
    <div class="mx-auto max-w-2xl">
      <div class="rounded-lg p-5">
        <!-- url upload -->
        <div class="mb-4">
          <div
            class="flex items-center justify-center rounded-lg border border-gray-600 p-10"
          >
            <div class="text-center">
              <div class="mb-2">
                <i class="fas fa-cloud-arrow-up text-gray-600"></i>
              </div>
              <div id="url_items" class="flex flex-col">
                <div class="flex" id="url_item_0">
                  <input
                    class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight shadow focus:outline focus:outline-zinc-300"
                    id="url_0"
                    name="urls"
                    type="text"
                  />
                  <div
                    class="rounded-r bg-blue-600 px-3 font-medium text-white"
                  >
                    <div class="flex gap-4">
                      <i
                        class="fa-solid fa-plus"
                        hx-get="{{ url_for('torrent_add_by_url_item', setting_id=setting_id, next_url_index=1, prev_url_index=0) }}"
                        hx-trigger="click"
                        hx-target="#url_items"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tags -->
        <div class="mb-4">
          <label class="mb-1 block font-medium text-gray-400">Tags</label>
          <div class="relative">
            <select
              multiple
              name="tags"
              class="block w-full appearance-none rounded border border-gray-600 px-3 py-2 pr-8 leading-tight focus:border-blue-500 focus:outline-none"
            >
              {% for tag in existing_tags %}
                <option>{{ tag }}</option>
              {% endfor %}
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-400"
            >
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
        </div>
        {% include "_base_destination.html" %}
        <!-- checkboxes -->
        <div class="mb-4 flex flex-col items-start">
          <label class="flex items-center">
            <input
              type="checkbox"
              value="true"
              name="is_base_path"
              class="form-checkbox rounded border-gray-600 text-blue-600 focus:border-blue-500 focus:outline-none"
            />
            <span class="ml-2 text-sm font-medium text-gray-400"
              >Use as Base Path</span
            >
          </label>
          <label class="flex items-center">
            <input
              type="checkbox"
              value="true"
              name="is_completed"
              class="form-checkbox rounded border-gray-600 text-blue-600 focus:border-blue-500 focus:outline-none"
            />
            <span class="ml-2 text-sm font-medium text-gray-400"
              >Completed</span
            >
          </label>
          <label class="flex items-center">
            <input
              type="checkbox"
              value="true"
              name="is_sequential"
              class="form-checkbox rounded border-gray-600 text-blue-600 focus:border-blue-500 focus:outline-none"
            />
            <span class="ml-2 text-sm font-medium text-gray-400"
              >Sequential Download</span
            >
          </label>
          <label class="flex items-center">
            <input
              type="checkbox"
              value="true"
              name="start"
              class="form-checkbox rounded border-gray-600 text-blue-600 focus:border-blue-500 focus:outline-none"
            />
            <span class="ml-2 text-sm font-medium text-gray-400"
              >Start torrent</span
            >
          </label>
        </div>
        <!-- buttons -->
        <div class="flex justify-end space-x-3">
          <button
            class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
          >
            Cancel
          </button>
          <button
            class="rounded bg-blue-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
            type="submit"
          >
            Add Torrent
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
