<div id="url_items" class="flex flex-col">
  {% for i in range(next_url_index + 1) %}
    <div class="flex" id="url_item_{{ i }}">
      <input
        class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight shadow focus:outline focus:outline-zinc-300"
        id="url_{{ i }}"
        name="urls"
        type="text"
      />
      <div class="flex">
        {% if loop.last %}
          {% if not loop.first %}
            <i
              class="fa-solid fa-minus rounded-r bg-blue-600 px-3 font-medium text-white"
              hx-get="{{ url_for('torrent_add_by_url_item', setting_id=setting_id, next_url_index=next_url_index - 1, prev_url_index=prev_url_index - 1) }}"
              hx-trigger="click"
              hx-target="#url_items"
            ></i>
          {% endif %}
          <i
            class="fa-solid fa-plus rounded-r bg-blue-600 px-3 font-medium text-white"
            hx-get="{{ url_for('torrent_add_by_url_item', setting_id=setting_id, next_url_index=next_url_index + 1 , prev_url_index = prev_url_index + 1) }}"
            hx-trigger="click"
            hx-target="#url_items"
          ></i>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
