{% extends "_base_dialog.html" %}
{% block modal_content %}
  <div>
    <div class="border-b border-gray-200">
      <nav
        class="-mb-px flex space-x-8"
        aria-label="Tabs"
        hx-on:htmx-after-on-load="let currentTab = document.querySelector('[aria-selected=true]');
                               currentTab.setAttribute('aria-selected', 'false')
                               currentTab.classList.remove('border-blue-500', 'text-blue-600')
                               currentTab.classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700')
                               let newTab = event.target
                               newTab.setAttribute('aria-selected', 'true')
                               newTab.classList.add('border-blue-500', 'text-blue-600')
                               newTab.classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700')
                 "
      >
        <!-- Current: "border-blue-500 text-blue-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
        <div
          hx-get="{{ url_for("torrent_add_by_file", setting_id=setting_id) }}"
          hx-target="#tab-content"
          class="whitespace-nowrap border-b-2 border-blue-500 px-1 py-4 text-sm font-medium text-blue-600"
          aria-selected="true"
        >
          By File
        </div>
        <div
          hx-get="{{ url_for("torrent_add_by_url", setting_id=setting_id) }}"
          hx-target="#tab-content"
          class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
          aria-selected="false"
        >
          By URL
        </div>
        {#                <div hx-get="{{ url_for("rtorrent_add_create_torrent") }}" hx-target="#tab-content"#}
        {#                     class="whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700"#}
        {#                     aria-selected="false"#}
        {#                >Create#}
        {#                </div>#}
      </nav>
    </div>
  </div>
  <div
    id="tab-content"
    hx-get="{{ url_for("torrent_add_by_file", setting_id=setting_id) }}"
    hx-trigger="load"
  ></div>
{% endblock %}
