@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-selected {
    @apply relative whitespace-nowrap rounded-t-lg border-2 border-blue-500 px-1 py-4 text-sm font-medium text-blue-600;
  }
  .tab-unselected {
    @apply relative whitespace-nowrap rounded-t-lg border-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700;
  }
}
